body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://images.pexels.com/photos/21492/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
}
#weather-container {
    background: rgba(255, 255, 255, 0.3);
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}
h2, label, p {
    color: #fff;
    margin: 8px 0;
}
input {
    width: 100%;
    padding-right: 16px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

button {
    background: #debff4;
    color: rgb(10, 1, 1);
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

button:hover {
    background: #8b48d7;
}

#temp-div p {
    font-size: 60px;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px; 
    margin-bottom: 0;
    display: none;
}

#humidity-div, #wind-div {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#hourly-forecast {
    margin-top: 20px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}
#weather-details {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2); 
    padding: 15px;
    border-radius: 10px; 
    font-size: 18px; 
}
#humidity-div, #wind-div {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px; 
    margin-bottom: 15px; 
    justify-content: center;
}

#humidity-div img, #wind-div img {
    width: 40px; 
    height: 40px;
}

#humidity, #wind-speed {
    font-size: 20px; 
}